<!DOCTYPE html>
<html>

<head>
<title>About</title>
</head>

<body style="background:#ecf0f1;
font-family:Arial;">

<div style="padding:30px;
text-align:center;">

<h1>About This Project</h1>

<p style="font-size:20px;line-height:35px;">

This web application uses Natural Language Processing (NLP)
and Machine Learning to classify news as
<b>Fake</b> or <b>Real</b>.

The text is converted into vectors using spaCy embeddings
and classified using a trained machine learning model.

</p>

<br>

<a href="/">⬅ Home</a>

</div>

</body>
</html>