<!DOCTYPE html>
<html>
<head>
<title>Fake News Detection</title>
</head>

<body style="margin:0;
font-family:Arial;
background:linear-gradient(to right,#141e30,#243b55);
color:white;">

<div style="padding:20px;
background:#111;
display:flex;
justify-content:space-between;
align-items:center;">

<h2>📰 Fake News Detection</h2>

<div>
<a href="/" style="color:white;text-decoration:none;margin-right:25px;">Home</a>
<a href="/about" style="color:white;text-decoration:none;margin-right:25px;">About</a>
<a href="/contact" style="color:white;text-decoration:none;">Contact</a>
</div>

</div>

<div style="width:70%;
margin:70px auto;
background:white;
color:black;
padding:40px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.4);">

<h1 style="text-align:center;">Fake News Classification</h1>

<p style="text-align:center;color:gray;">
Enter a news article below and our Machine Learning model will predict whether it is Fake or Real.
</p>

<form  method="POST">

<textarea
name="news"
rows="10"
style="width:100%;
padding:15px;
font-size:18px;
border-radius:10px;"></textarea>

<br><br>

<center>

<input
type="submit"
value="Predict"
style="padding:15px 45px;
font-size:20px;
background:#007BFF;
color:white;
border:none;
border-radius:10px;
cursor:pointer;">

</center>

</form>

</div>

</body>
</html>